[class^="Icon--"],
[class*=" Icon--"] {
  &:before, &:after {
    font-family: $fontastic !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

$icons: (github: 'a', facebook: 'b', twitter: 'c', instagram: 'd', heart: 'e', share: 'f');

// Icon--name[After|Before]
.Icon {
  z-index: 100;
  &.Icon--block {
    &:after, &:before {
      display: block;
    }
  }
  @each $key, $value in $icons {
    &.Icon-- {
      &#{$key} {
        &After:after, &Before:before {
          content: $value;
        }
        &After:after {
          margin: 0 0 0 5px;
        }
        &Before:before {
          margin: 0 5px 0 0;
        }
      }
    }
  }
}
