// Fonts
$fontastic: 'social';

// Color
$color00:                                   #000000; // Black
$color01:                                   #cccccc; // Grey
$colorff:                                   #ffffff; // White
$color10:                                   #0000ff; // Blue
$color11:                                   #000066; // Dark Blue
$color20:                                   #ff0000; // Red
$color21:                                   #660000; // Dark Red
