extends ./layouts/bootstrap.jade

block content
  .container
    .row
      p.col-md-12.text-center
        img.img-responsive(src='images/lorempixel-1280-720-abstract.jpeg', alt='Imagem Abstrata')
      p.col-md-12.text-center
        img.img-responsive(src='images/placeimg_800_600_nature.jpg', alt='Imagem da Natureza')
