extends ./layouts/bootstrap.jade

block content
  .container
    .row
      p.col-xs-6.text-center
        img.img-responsive(src='images/lorempixel_640_480_abstract.jpeg', alt='Abstract Image')
      p.col-xs-6.text-center
        img.img-responsive(src='images/placeimg_640_480_nature.jpg', alt='Nature Image')
