@function u($values) {

	$list: ();

	@each $value in $values {

		@if $value == 'auto' {
			$list: append($list, $value);
		}

		@else {

			@if ($px-only) {
				$list: append($list, $value + px);
			}

			@else {
				$list: append($list, ($value/$font-size) + rem);
			}

		}

	}

	@return $list();

}

@mixin bg-sprite($img){
	background-image:$sprite;
	@include sprite($sprite, $img, true);
}

@mixin valign($h) {
	height: $h;
	position: absolute;
	top: calc((100% - #{$h})/2);
}
