/* Html */
html {
	position: relative;
	min-height: 100%;
}

/* Body */
body {
	-webkit-font-smoothing: antialiased;
}

/* Link */
a, button {
	outline: 0 !important;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	&:hover, &:visited, &:focus {
		text-decoration: none;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
}

a[href^=tel] {
	color: inherit;
	text-decoration: none;
}
